dockers/quotas/html/groupes.html
<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">


<title>KAZ : Aperçu</title>
<meta charset="UTF-8">
</head>
<body>
    <div id="entete">
        <h1> Tableau de bord Quotas </h1>
        <p> Ci-dessous se trouve ......... </p>
    </div>
       
    <div id="main">
        <div id="menu">
            <img src="images/groupe.png" width=200%>
        </div>
       
        <div id="contenu">
            <button >Association 1 : </button><br>
            <button >Association 2 : </button><br>
            <button >Association 3 : </button><br>
        </div>
    </div>
       
    <div id="footer">
        <button onclick="window.location.href = 'index.html';">Retour</button><br>
    </div>
</body> 
</html>

dockers/quotas/html/express_webapp/views/groupes.jade
doctype html
//-
  #_________________________________________________________________
  Page jade correspondant à l'affichage des groupes de famille et 
  des associations

  Auteur : Lauryne GAULTIER
  _________________________________________________________________
  
html
  head
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    title KAZ Quotas Associations
    meta(charset='UTF-8')
  body
    #entete
      h1(onclick="window.location.href = 'https://kaz.bzh/'") Tableau de bord Quotas des Associations
      p rechercher d'une asssociation pour savoir combien de place il utilise en total dans chaque service
    #main
      #menu
        img(src='/images/groupe.png' width='100%')
      #contenu
        button Association 1 : 
        br
        button Association 2 : 
        br
        button Association 3 : 
        br
    #footer
      button(onclick="window.location.href = '/admin';") Retour
      br
      p  Site réalisé par les étudiants du département informatique sous la direction de F. Merciol & N. Le Sommer et G. Kerbellec durant l'année 2021-2022 
