dockers/quotas/html/index.html
<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">


<title>KAZ : Aperçu</title>
<meta charset="UTF-8">
</head>
<body>
    <div id="entete">
        <h1> Le numérique éthique et local </h1>
        <p> Ci-dessous se trouve ......... </p>
    </div>
       
    <div id="main">
        <div id="menu">
            <img src="images/quotas.png" width=200% >
        </div>
       
        <div id="contenu">
            <button onclick="window.location.href = 'serviceG.html';">Service Global</button><br>
    
            <button onclick="window.location.href = 'individuels.html';">Individuels</button><br>
            
            <button onclick="window.location.href = 'groupes.html';">Groupes</button><br>
        </div>
    </div>
       
    <div id="footer">
        <p> Ci-dessous se trouve ......... </p>
    </div>

</body> 
</html>

dockers/quotas/html/express_webapp/views/index.jade

//-
  _________________________________________________________________
  Page jade correspondant à l'affichage à la page principale
  qui regroupe plusieurs boutons pour pouvoir accéder aux différentes
  pages des quotas

  # Auteur : Lauryne GAULTIER
  _________________________________________________________________
    
doctype html
html
  head
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
    title KAZ Quotas
    meta(charset='UTF-8')
  body
    #entete
      h1(onclick="window.location.href = 'https://kaz.bzh/'") LE NUMERIQUE ETHIQUE ET LOCAL
      h2 Bienvenue
      p  Ci-dessous se trouve les différente catégorie de quotas
    #main
      #menu
        img(id="object-position-1" src='/images/quotas.png' width='100%')
      #contenu
        button(onclick="window.location.href = '/users';") Individuels
    #footer
      p  Site réalisé par les étudiants du département informatique sous la direction de F. Merciol & N. Le Sommer et G. Kerbellec durant l'année 2021-2022 
