dockers/quotas/html/serviceG.html
<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">


<title>KAZ : Aperçu</title>
<meta charset="UTF-8">
</head>
<body>
    <div id="entete">
        <h1> Tableau de bord Quotas </h1>
        <p> Ci-dessous se trouve ......... </p>
    </div>
       
    <div id="main">
        <div id="menu">
            <img src="images/serviceglobal.png" width=200% >
        </div>
       
        <div id="contenu">
            <button >NextCloud : </button><br>
            <button >Agora : </button><br>
            <button >Postfix : </button><br>
        </div>
    </div>
       
    <div id="footer">
        <button onclick="window.location.href = 'index.html';">Retour</button><br>
    </div>

</body> 
</html>

dockers/quotas/html/express_webapp/views/serviceg.jade
doctype html
//-
  _________________________________________________________________
  Page jade correspondant à l'affichage des quotas des differents 
  service qu'offre kaz comme :   
      -Nexcloud 
      -Postfix 
      -Agora 

  Auteur : Lauryne GAULTIER
  _________________________________________________________________
  
html
  head
    link(href='/stylesheets/style.css' rel='stylesheet' type='text/css')
    title KAZ Quotas Global
    meta(charset='UTF-8')
  body
    #entete
      h1(onclick="window.location.href = 'https://kaz.bzh/'")  Tableau de bord Quotas Global
      p  voici les différent service de KAZ avec leur poids respectif 
    #main
      #menu
        img(src='/images/serviceglobal.png' width='100%')
      #contenu
       each val,index in data
                     tr
                        br
                        td= index+ ' ' + val  
      
    #footer
      button(onclick="window.location.href = '/admin';") Retour
      br
      p  Site réalisé par les étudiants du département informatique sous la direction de F. Merciol & N. Le Sommer et G. Kerbellec durant l'année 2021-2022 
